<div id="ppronosticos" class="content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-repeat="e in etapas" class="panel ng-class:{'panel-default':!e.activa, 'panel-primary':e.activa}">
                <div class="panel-heading">
                    {{e.nombreEtapa}}
                </div>
                <div class="panel-body">
                    <div class="panel ng-class:{'panel-info':p.definido&&!p.iniciado&&!p.finalizado,'panel-default':!p.definido,'panel-primary':p.iniciado&&!p.finalizado,'panel-success':p.finalizado&&p.marcadorAcertado,'panel-warning':p.finalizado&&!p.marcadorAcertado&&p.resultadoAcertado,'panel-danger':p.finalizado&&!p.marcadorAcertado&&!p.resultadoAcertado}" ng-repeat="p in e.partidos">
                        <div class="panel-heading">
                            {{(p.lugar||'Lugar no definido') + '&nbsp;-&nbsp;' + (p.fechaHoraInicio||'Fecha y hora no definidas')}}&emsp;<span style="font-weight:bold" ng-show="p.iniciado&&!p.finalizado">(Jugando)</span><span style="font-weight:bold" ng-show="p.finalizado">(Finalizado)</span>
                        </div>
                        <div class="panel-body">
                            <div class="row partido-vs">
                                <div class="col-xs-4 col-sm-4 col-md-4 pais">
                                    <img ng-src="Content/images/{{p.codigo1||'NONE'}}.png" />
                                    <br />
                                    {{p.equipo1||'???'}}
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="vs">VS</div>
                                    <div class="info"></div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 pais">
                                    <img ng-src="Content/images/{{p.codigo2||'NONE'}}.png" />
                                    <br />
                                    {{p.equipo2||'???'}}
                                </div>
                            </div>
                            <div class="row partido-pronostico">
                                <div class="col-xs-4 col-sm-4 col-md-4 marcador">{{(p.golesPronostico1 == null) ? '?' : p.golesPronostico1}}</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 txt-medio">
                                    <button role='button' class='btn btn-lg btn-primary' ng-show="p.definido && !p.iniciado" ng-click="editar(p)" data-toggle="modal" href="#editModal">Pron&oacute;stico</button>
                                    <div ng-hide="p.definido && !p.iniciado">Pron&oacute;stico</div></div>
                                <div class="col-xs-4 col-sm-4 col-md-4 marcador">{{(p.golesPronostico2 == null) ? '?' : p.golesPronostico2}}</div>
                            </div>
                            <div class="row partido-real">
                                <div class="col-xs-4 col-sm-4 col-md-4 marcador">{{(p.goles1 == null) ? '?' : p.goles1 }}</div>
                                <div class="col-xs-4 col-sm-4 col-md-4 txt-medio">
                                    <div>Real</div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 marcador">{{(p.goles2 == null) ? '?' : p.goles2}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal para editar pronostico -->
<div class="modal fade" id="editModal" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class='modal-header'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Editar pron&oacute;stico</h3>
            </div>
            <form name="pronostico_form" role="form" class="form-horizontal" novalidate>
                <div class='modal-body'>
                    <div class="form-group ng-class:{'has-error':pronostico_form.goles1.$dirty && pronostico_form.goles1.$invalid};">
                        <label class="col-sm-4 control-label">{{pronostico.equipo1}}</label>
                        <div class="col-sm-8">
                            <div class="input-group spinner">
                                <input type="text" name="goles1" class="form-control" ng-model="pronostico.goles1" required valid-number/>
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" ng-click="upQty(pronostico, 1)"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" ng-click="downQty(pronostico, 1)"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ng-class:{'has-error':pronostico_form.goles2.$dirty && pronostico_form.goles2.$invalid};">
                        <label class="col-sm-4 control-label">{{pronostico.equipo2}}</label>
                        <div class="col-sm-8">
                            <div class="input-group spinner">
                                <input type="text" name="goles2" class="form-control" ng-model="pronostico.goles2" required valid-number/>
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" ng-click="upQty(pronostico, 2)"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" ng-click="downQty(pronostico, 2)"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class="btn" data-dismiss="modal">Cancelar</button>
                    <button type='submit' class="btn btn-primary" data-dismiss="modal" ng-disabled="pronostico_form.$invalid" ng-click="guardar(pronostico)">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal para editar pronostico - End -->